


.orderHeader {
  position: fixed;
  top: 0;
  /* left: 0; */
  z-index: 100;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 4px 4px #1f1b1a0d;
  display: flex;
  align-items: center;
}

.containerHeader {
  height: 56px;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 375px;
}

.orderLogo {
    display: flex;
    gap: 6px;
    align-items: center;
  }

.svgLogo {
  width: 24px;
  height: 24px;
}

.burgerButton {
  display: inline-flex;
  background: none;
  border: none;
  cursor: pointer;
}

.burgerIcon {
  width: 32px;
  height: 32px;
}

.basketIcon {
  width: 32px;
  height: 32px;
}

.basketContainer {
  position: relative;
}

.closeIcon {
  width: 24px;
  height: 24px;
}

.navLink {
  display: none;
}

.navListOpen {
  display: flex;
  flex-direction: column;
  background-color: #f7f6f2; 
  gap: 24px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%); 
  padding: 20px 0;
  border-radius: 0 0 24px 24px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  align-items: center;
  z-index: 99;
  width: 375px;
}
.closeIconButton {
  background: none;
  border: none;
  cursor: pointer;
}


.link {
  font-size: 16px;
  cursor: pointer;
  color: #1f1b1a;
  text-decoration: none;
}

.beeAndHorn {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 600;
  letter-spacing: 0.02em;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #1f1b1a;
}

.logoContainer {
   display: flex;
  align-items: center;
}

.iconContainer {
  display: flex;
  align-items: center;
  /* gap: 8px; */
}

 .link {
    font-size: 18px;
    cursor: pointer;
    color: #1f1b1a;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
    position: relative;
    padding-bottom: 3px;
    display: inline-block;
  }

  .link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #facf5a;
    transition: width 0.3s ease;
  }

  .link:hover::after,
  .link:focus::after {
    width: 100%;
    color: #1f1b1a;
  }

  .link:focus {
    outline: none;
    position: relative;
    color: #1f1b1a;
  }

    .basketCardSircle {
    top: 18px;
    left: 19px;
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #facf5a;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .basketQuantity {
    cursor: pointer;
    font-size: 12px;
  }

  .burgerButton {
  display: inline-flex;
}

@media screen and (min-width: 768px) {
  .containerHeader {
    height: 72px;
    justify-content: space-between;
    width: 768px;
    max-width: 768px;
  }

  .orderLogo {
    display: flex;
    gap: 6px;
    align-items: center;
  }

  .burgerIcon {
    width: 48px;
    height: 48px;
  }
  .closeIcon {
    width: 36px;
    height: 36px;
  }

  .basketIcon {
    width: 42px;
    height: 42px;
  }

  .beeAndHorn {
    font-size: 20px;
  }

  .basketQuantity {
    cursor: pointer;
    font-size: 16px;
  }

  .basketCardSircle {
    top: 22px;
    left: 24px;
    width: 16px;
    height: 16px;
    
  }

  .navListOpen {
    width: 768px;
    height: 344px;
    padding-top: 56px;
  }

}

@media screen and (min-width: 1440px) {
  .orderHeader {
    height: 76px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 4px 4px #1f1b1a0d;
    display: flex;
    align-items: center;
  }

 .containerHeader {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 62px;
    gap: 0;
  }

   .logoContainer {
    display: flex;
    align-items: center;
    margin-right: 32px; /* Отступ между логотипом и навигацией */
  }

  .orderLogo {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  .svgLogo {
    width: 36px;
    height: 36px;
    margin-right: 12px;
  }

  .beeAndHorn {
    font-size: 20px;
    line-height: 1.6;
    font-weight: 600;
    letter-spacing: 0.02em;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #1f1b1a;
  }

  .burgerButton {
    display: none;
  }

  .navContainer {
     display: flex;
    align-items: center;
    margin-left: 430px;
  }

  .iconContainer {
    display: flex;
    align-items: center;
    gap: 16px; 
    margin-left: 0;
  }


  .navLink {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    gap: 40px;
    /* top: 100%; */
    left: 57%;
    transform: translate(-50%);
    border-radius: 0 0 24px 24px;
    background-color: #fff;
    box-shadow: none;
  }

  .link {
    font-size: 18px;
    cursor: pointer;
    color: #1f1b1a;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
    position: relative;
    padding-bottom: 3px;
    display: inline-block;
  }

  .link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #facf5a;
    transition: width 0.3s ease;
  }

  .link:hover::after,
  .link:focus::after {
    width: 100%;
    color: #1f1b1a;
  }

  .link:focus {
    outline: none;
    position: relative;
    color: #1f1b1a;
  }

  .basketContainer {
    position: relative;
    /* margin-left: 38px; */
  }

  .basketIcon {
    width: 52px;
    height: 52px;
  }

  .basketCardSircle {
    top: 28px;
    left: 28px;
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #facf5a;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .basketQuantity {
    cursor: pointer;
    font-size: 16px;
  }

  .navIsOpen {
    display:none;
  }
}
