
.weightOptions button{
    width: 83px;
  height: 36px;
  justify-content: center;
  align-items: center;
  padding: 4px 12px 4px 12px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  border: 1px solid #cacaca;
  }

  .weightOptions button:hover,
.quantityControls button:hover,
.addToCart:hover {
  background-color: #facf5a;
}

.weightOptions button.selected {
  background-color: #facf5a;
  /* Any other styles for the selected state */
}

