.mainPage {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Изменить с height: 100vh на min-height */
  width: 1440px;
  padding-left: 112px;
  padding-right: 112px;
  margin: 0 auto;
  position: relative;
  overflow: hidden; 
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}


.heroSection {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  position: relative;
  flex: 0 0 auto; /* Фиксированная высота */
}

.heroContent {
  padding: 0 112px;
}

.wrapperInfo {
  display: flex;
  flex-direction: column;
}

.heroContent h1 {
  padding-top: 84px;
  padding-bottom: 64px;
  font-size: 106px;
  line-height: 1.12;
  letter-spacing: 0.008em;
  white-space: pre-line;
  font-family: Montserrat Alternates, sans-serif;
  font-weight: 600;
  color: #1f1b1a;
  width: 100%;
  margin-top: 84px;
}



.mainQuotes {
  font-size: 18px;
  line-height: 1.56;
  max-width: 520px;
  align-self: flex-end;
  width: 100%;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-align: right;
}

.mainQuotesSpan {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.56;
}


.aboutUsSection,
.reviewsSection {
  padding: 20px;
}

.features {
  display: flex;
  justify-content: space-around;
}



.aboutUsItem,
.reviewItem {
  margin: 10px;
}




.images {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  gap: 32px;
}

.honeyImageTwo {
  width: auto;
  max-width: 100%;
  object-fit: cover;
  margin: 0 0 72px 144px;
}

.honeyImageOne {
  position: static;
  visibility: visible;
  pointer-events: auto;
  width: auto;
  max-width: 100%;
  height: auto;
  margin: 0 0 0 32px;
  padding: 44px 0 0;
  text-indent: 0;
  white-space: normal;
  overflow: visible;
}

.buttonContainer {
  position: relative;
  align-self: flex-start;
  margin-left: 75px;

  margin-bottom: 400px;
}

.orderButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}


.iconPolygon {
  fill: #facf5a;
  transition: fill 0.3s linear;
  top: -86px;
  left: 50px;
  width: 190px;
  height: 172px;
  position: absolute;
}

.iconPolygon:hover {
  fill: rgb(235, 180, 28);
}

.iconPolygonText {
  position: absolute;
  font-weight: 600;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: justify;
  color: #1f1b1a;
  top: -12px;
  left: 88px;
  font-size: 18px;
  line-height: 1.56;
}

.socialLinks {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.icon {
  width: 32px;
  height: 32px;
  fill: #f5a623;
}

.footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: auto; /* Сделать футер внизу страницы */
}
