
.productContainer {
    display: flex;
    background: rgb(255, 255, 255);
    border-radius: 24px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 64px;
    position: relative;
    max-width: 1216px;
    max-height: 656px;
  }
  
  .productImage img {
    width: 528px;
    height: 528px;
    border-radius: 24px;
  }

  .closeButton {
    position: absolute;
    right: 14px;
    top: 28px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }