@media screen and (max-width: 767.8px) {
   .heroSection {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
    flex: 0 0 auto;
  }

  .heroContent {
    padding: 0 32px;
  }

  .wrapperInfo {
    display: flex;
    flex-direction: column;
  }

  .wrapperInfo::after {
    display: none;
  }

  .heroContent h1 {
    padding-top: 64px;
    padding-bottom: 48px;
    font-size: 80px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    white-space: pre-line;
    font-family: Montserrat Alternates, sans-serif;
    font-weight: 600;
    color: var(--primary-text-color);
    width: 100%;
    margin-top: 84px;
    text-align: start;
  }

  .mainQuotes {
    font-size: 16px;
    line-height: 1.5;
    max-width: 462px;
    align-self: flex-end;
    width: 100%;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    letter-spacing: 0.04em;
    text-align: right;
  }

  .mainQuotesSpan {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
  }

  .reviewsSection {
    padding: 20px;
  }

  .features {
    display: flex;
    justify-content: space-around;
  }

  .reviewItem {
    margin: 10px;
  }

  .images {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    min-height: 300px;
  }

  .honeyImageTwo {
    width: auto;
    max-width: 100%;
    object-fit: cover;
    margin: 32px 0 0 124px;
    height: auto;
    border-radius: 24px;
  }

  .honeyImageOne {
    display: none;
  }

  .buttonContainer {
    position: relative;
    align-self: flex-start;
    margin-left: 75px;

    margin-bottom: 485px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .orderButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
  }

  .iconPolygon {
    fill: #facf5a;
    transition: fill 0.3s linear;
    top: -46px;
    left: -44px;
    width: 190px;
    height: 172px;
    position: absolute;
  }

  .iconPolygon:hover {
    fill: rgb(235, 180, 28);
  }

  .iconPolygonText {
    position: absolute;
    font-weight: 800;
    font-family: var(--primary-font-family);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: justify;
    top: 28px;
    left: 0px;
    font-size: 16px;
    line-height: 1.5;
    font-family: Montserrat Alternates, sans-serif;
  }

  .socialLinks {
    position: absolute;
    bottom: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .socialLinks::before {
    content: '';
    width: 1px;
    height: 80px;
    background-color: #858585;
    margin-left: 14px;
    margin-bottom: 34px;
  }

  .icon {
    width: 32px;
    height: 32px;
    fill: #facf5a;
  }

  .icon:hover {
    fill: rgb(235, 180, 28);
    transition: fill 0.3s linear;
  }

}




@media screen and (min-width: 768px) {
  .heroSection {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
    flex: 0 0 auto;
  }

  .heroContent {
    padding: 0 32px;
  }

  .wrapperInfo {
    display: flex;
    flex-direction: column;
  }

  .wrapperInfo::after {
    display: none;
  }

  .heroContent h1 {
    padding-top: 64px;
    padding-bottom: 48px;
    font-size: 80px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    white-space: pre-line;
    font-family: Montserrat Alternates, sans-serif;
    font-weight: 600;
    color: var(--primary-text-color);
    width: 100%;
    margin-top: 84px;
    text-align: start;
  }

  .mainQuotes {
    font-size: 16px;
    line-height: 1.5;
    max-width: 462px;
    align-self: flex-end;
    width: 100%;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    letter-spacing: 0.04em;
    text-align: right;
  }

  .mainQuotesSpan {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
  }

  .reviewsSection {
    padding: 20px;
  }

  .features {
    display: flex;
    justify-content: space-around;
  }

  .reviewItem {
    margin: 10px;
  }

  .images {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    min-height: 300px;
  }

  .honeyImageTwo {
    width: auto;
    max-width: 100%;
    object-fit: cover;
    margin: 32px 0 0 124px;
    height: auto;
    border-radius: 24px;
  }

  .honeyImageOne {
    display: none;
  }

  .buttonContainer {
    position: relative;
    align-self: flex-start;
    margin-left: 75px;

    margin-bottom: 485px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .orderButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
  }

  .iconPolygon {
    fill: #facf5a;
    transition: fill 0.3s linear;
    top: -46px;
    left: -44px;
    width: 190px;
    height: 172px;
    position: absolute;
  }

  .iconPolygon:hover {
    fill: rgb(235, 180, 28);
  }

  .iconPolygonText {
    position: absolute;
    font-weight: 800;
    font-family: var(--primary-font-family);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: justify;
    top: 28px;
    left: 0px;
    font-size: 16px;
    line-height: 1.5;
    font-family: Montserrat Alternates, sans-serif;
  }

  .socialLinks {
    position: absolute;
    bottom: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .socialLinks::before {
    content: '';
    width: 1px;
    height: 80px;
    background-color: #858585;
    margin-left: 14px;
    margin-bottom: 34px;
  }

  .icon {
    width: 32px;
    height: 32px;
    fill: #facf5a;
  }

  .icon:hover {
    fill: rgb(235, 180, 28);
    transition: fill 0.3s linear;
  }

}

@media screen and (min-width: 1440px) {
  .heroSection {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
    flex: 0 0 auto;
  }

  .heroContent {
    padding: 0 112px;
  }

  .wrapperInfo {
    display: flex;
    flex-direction: column;
    width: 1187px;
  }

  .wrapperInfo::after {
    position: absolute;
    bottom: 0px;
    left: 270px;
    content: '';
    width: 312px;
    height: 1px;
    background-color: #858585;
    display: block;
  }

  .heroContent h1 {
    padding-top: 84px;
    padding-bottom: 64px;
    font-size: 106px;
    line-height: 1.12;
    letter-spacing: 0.008em;
    width: 100%;
    margin-top: 84px;
    text-align: start;
  }

  .mainQuotes {
    font-size: 18px;
    line-height: 1.56;
    max-width: 520px;
    align-self: flex-end;
    width: 100%;
    font-weight: 400;
    letter-spacing: 0.04em;
    text-align: right;
  }

  .mainQuotesSpan {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.56;
  }


  .honeyImageTwo {
    width: 416px;
    max-width: 100%;
    margin: 0 0 72px 142px;
    height: auto;
  }

  .honeyImageOne {
    position: static;
    visibility: visible;
    pointer-events: auto;
    width: 592px;
    max-width: 100%;
    height: auto;
    margin: 0 0 0 32px;
    padding: 44px 0 0;
    text-indent: 0;
    white-space: normal;
    overflow: visible;
    display: block;
  }

  .orderButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
  }

  .iconPolygon {
    top: -86px;
    left: 50px;
    width: 190px;
    height: 172px;
  }


  .iconPolygonText {
    top: -12px;
    left: 90px;
    font-size: 18px;
    line-height: 1.56;
  }

  .socialLinks {
    bottom: 68px;
    display: flex;
  }


  .icon {
    width: 32px;
    height: 32px;
    
  }

}
