.sectionMain {
    padding: 60px 0;
}

@media (min-width: 768px) { 
    .sectionMain {
        padding: 110px 0;
    }
}

@media (min-width: 1440px) { 
    .sectionMain {
        padding: 74px 0;
    }
}
