:root {
  --primary-font-family: 'Raleway', sans-serif;
  --secondary-font-family: 'Montserrat Alternates', sans-serif;
  --primary-text-color: #1f1b1a;
  --light-bg-color: #ffffff;
  --primary-accent-color: #facf5a;
  --primary-hover-color: #ebb41c;
  --primary-darkgrey-color: #858585;
  --primary-grey-color: #cacaca;
  --primary-lightgrey-color: #f6f6f6;
  --primary-white-color: #ffffff;
  --error-input-color: #dc3353;
  --animation-time-function: linear;
  --animation-duration: 0.3s;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: var(--primary-font-family);
  color: var(--primary-text-color);
  background-color: var(--light-bg-color);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
li {
  margin: 0;
  font-family: var(--secondary-font-family);
}

ul {
  padding-left: 0;
  list-style: none;
}

button {
  border: none;
  padding: 0;
  font-family: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:active {
  transform: scale(0.95);
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: inherit;
}

a:hover {
  color: inherit;
}
