.productDetails {
  margin-left: 64px;
  display: flex;
  flex-direction: column;
}

.containerScrollBar {
  max-height: 248px;
  overflow-y: auto;
  width: 480px;
  height: 212px;
  position: relative;
  direction: ltr;
  padding: 0;
  border: none;
}

.descriptionArea {
  height: 248px;
}

.productTitle {
  color: rgb(31, 27, 26);
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.02em;
  text-align: left;
}

.productDetails h1 {
  font-size: 24px;
}

.prodDescriptionHeader {
  padding-top: 16px;
  font-family: var(--primary-font-family);
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 4%;
  font-weight: 600;
}

.productText {
  padding-top: 24px;
  padding-right: 12px;
  font-size: 18px;
  line-height: 28px;
  font-family: var(--primary-font-family);
}

.productPriceContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.productPrice {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.productPurchase {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hideScroll {
    display: none;
}