.basementContainer {
  padding-top: 20px;
  border-top: 1px solid rgba(133, 133, 133, 0.25);
}

.productPriceContainer {
  display: flex;
  flex-direction: row;

  align-items: center;
}

.productPrice {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.productPurchase {
  display: flex;
  flex-direction: row;

  align-items: center;
}

.buttonAndIconContainer {
  display: flex;
  margin-left: auto;
  gap: 24px;
}

.shopCard {
  width: 52px;
  height: 52px;
}

.basketContainer {
  position: relative;
}

.basketIcon {
  width: 52px;
  height: 52px;
}

.basketCardSircle {
  top: 28px;
  left: 28px;
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #facf5a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.basketQuantity {
  cursor: pointer;
}

.addToCart {
  background-color: #facf5a;
  padding: 10px;
  font-size: 18px;
  width: 214px;
  height: 52px;
  justify-content: center;
  align-items: center;
  padding: 12px 32px 12px 32px;
  border-radius: 12px;
  border: none;
  outline: none;
  line-height: 28px;
  font-family: var(--primary-font-family);
  font-weight: 600;
}

.addToCart:hover:focus {
  border: none;
  outline: none;
  background-color: rgb(235, 180, 28);
}

@media screen and (min-width: 1440px) {
  .addToCart {
    width: 214px;
    height: 52px;
    font-size: 18px;
    line-height: 28px;
  }
}
