.pageContainer {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 32px;
  background-color: #fff;
  padding-bottom: 100px;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;

  padding-top: 160px;
  padding-bottom: 100px;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.mainTitle {
  margin-bottom: 64px;
  max-width: 579px;
  font-size: 56px;
  line-height: 64px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 592px;
  height: 848px;
}

.useAgreement {
  font-size: 12px;
  line-height: 1.3333333333;
  font-family: Raleway, sans-serif;
  font-style: normal;
  letter-spacing: 0.04em;
  margin-bottom: 32px;
}

.submitButton {
  width: 279px;
  height: 52px;
  background: rgb(250, 207, 90);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 18px;
  color: black;
  justify-content: center;
  align-items: center;
  padding: 17px 32px 17px 32px;
  margin-left: auto;
  font-weight: 600;
}

.submitButton:hover {
  background-color: #e69500;
  transition: background-color 0.3s linear;
}
